* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

#hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  background: url('../images/denes-kozma-IAkqIgTYkHI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}

#posterBox {
  display: flex;
  flex-direction: column;
  color: rgb(209, 231, 229);
  margin: auto;
  background-color: rgba(0, 3, 3, 0.5);
  border-radius: 5%;
  height: 50vh;
  max-width: 40%;
  padding: 1%;
}
h1,
h3 {
  font-family: 'Do Hyeon', sans-serif;
  margin: auto;
  font-weight: 100;
  letter-spacing: 0.3rem;
}

/*SOCIAL STYLES*/
.social-content {
  text-align: center;
  margin: auto;
  padding: 1%;
}

.social-anchors {
  padding: 0 2rem;
  color: rgb(226, 172, 25);
  transition: all 0.25s ease;
}
.social-anchors:hover {
  color: rgb(221, 210, 189);
}
#nav {
  display: flex;
  flex-flow: wrap;
}
.nav-item {
  margin: auto;
  color: rgb(209, 231, 229);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: all 0.55s ease;
  padding: 3%;
}

.nav-item:hover {
  color: rgb(231, 231, 61);
  background-color: rgba(0, 3, 3, 0.1);
  border-radius: 20%;
}

@media screen and (max-width: 1020px) {
  #posterBox {
    min-width: 40%;
    height: auto;
    position: fixed;
    top: 25%;
    left: 30%;
    background-color: rgba(0, 3, 3, 0.5);
  }
  .social-anchors {
    font-size: 90%;
  }
  #title {
    font-size: 80%;
    padding: 5% 0;
  }
}
@media screen and (max-width: 810px) {
  #posterBox h3,
  h1 {
    text-align: center;
  }
  #hero {
    background: linear-gradient(to right, black, rgb(206, 171, 106));
    background-size: cover;
  }
  #nav {
    padding: 0;
  }
  .social-anchors {
    font-size: 70%;
  }
}
