* {
  margin: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

h1,
h3 {
  font-family: 'Do Hyeon', sans-serif;
  margin: auto;
}
#hero {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  margin: 0;
  background: url('../images/denes-kozma-IAkqIgTYkHI-unsplash.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
}

#posterBox {
  display: flex;
  flex-direction: column;
  color: rgb(209, 231, 229);
  margin: auto;
  background-color: rgba(0, 3, 3, 0.5);
  border-radius: 5%;
  box-shadow: 0.5rem 0.25rem rgba(0, 0, 0, 0.7);
  height: 50vh;
  max-width: 40%;
}
h1,
h3 {
  font-family: 'Do Hyeon', sans-serif;
  font-weight: 100;
  letter-spacing: 0.3rem;
  margin: auto;
}
#hero_flex {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}
/*SOCIAL STYLES*/
.social-content {
  text-align: center;
  margin: auto;
  padding: 1%;
}

.social-anchors {
  padding: 0 2rem;
  color: rgb(226, 172, 25);
  transition: all 0.25s ease;
}
.social-anchors:hover {
  color: rgb(221, 210, 189);
}
#nav {
  display: flex;
  flex-flow: wrap;
}
.nav-item {
  margin: auto;
  color: rgb(209, 231, 229);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  transition: all 0.55s ease;
  padding: 3%;
}

.nav-item:hover {
  color: rgb(231, 231, 61);
  background-color: rgba(0, 3, 3, 0.1);
  border-radius: 20%;
}

@media screen and (max-width: 1000px) {
  #posterBox {
    min-width: 100vw;
    height: auto;
    border-radius: 0%;
    box-shadow: none;
    padding: 2%;
  }
}
@media screen and (max-width: 700px) {
  #posterBox h3,
  h1 {
    text-align: center;
  }
  #hero {
    background: linear-gradient(to right, black, rgb(206, 171, 106));
    background-size: cover;
  }
  #nav {
    padding: 0;
  }
}
